<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>

    <br />
    <p>
        Splurty was built by <a target="_blank" href="https://github.com/neetmangat">Neet</a>, a web developer that is on a mission to showcase his skills and entertain visitors to this site.
    </p>
    <br />

    <p>
        In a day and age where the internet is rampant with misinformation, this site was built to showcase some of the extreme bits of information that is not corroborated or particularly factual. <br><br> 
        Is it false? We don't know. <br>
        Is it true? That has yet to be proven.
    </p>

    <p>
        If you appreciate this site and want to support further development, send BTC to this address: <br />
        <br />
            <b><i>Segwit:</i></b> 3BejtWcnDGMPg22H2AJBeWUKZZNz3F3b3s <br />
            <b><i>Native Segwit:</i></b> bc1qs229js29g2d67fyza6zw6v0lzqfnl2rtvecgur <br />
    </p>
    <br />
    <br />


    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'bio_pic.png', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
            <h3 class="text-center">Neet Mangat</h3>
            <br />
            <p>
                Neet Mangat is a Junior Web Developer that is also certified in Salesforce Administration. <br /> 
                With his entrepreneurial spirit, he founded an entertainment company and marketing company as well.
            </p>
        </div>
    </div>
    <br class="clear" />
    <br>
    <br>
    <br>
    <br>


</div>