<h4>
    <span>Conspiracy Number <%= @quote.id %>:</span>
</h4>
<br/>


<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author%></h2>

<br class="clear" />
<br>
<br>
<br>


<!-- <div class="col-12 col-sm-6">
    <%= link_to "This isn't enough, I need more!", root_path, class: 'next-quote' %>
</div> -->


<br>
<br>
<br>