@import "bootstrap";

body {
    background-color: #222;
}

.heading {
    color: #FFF;
    font-weight: bold;
}


 .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    color: #1FDE43;
    font-weight: bold;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .modal-content {
    background-color: #333;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.clear {
    clear: both;
}


.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #1FDE43;
    border: 3px solid #fff;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #000;
    font-size: 13px;
    //    cursor: pointer;
    transform:rotate(349deg);
    -ms-transform:rotate(349deg); /* IE 9 */
    -webkit-transform:rotate(349deg); /* Opera, Chrome, and Safari */
}

.slogan {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;
    padding-top: 26px;
    color: #FFF;
}

.links {
    padding-top: 26px;
}

.links a {
    color: #FFF;
    font-size: 25px;
    border-bottom: 1px solid #dfdfdf;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

header {
    border-top: 9px solid #000000;
}

hr {
    clear: both;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #1FDE43;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -1.5px;
    color: #1FDE43;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: -1.5px;
    color: #1FDE43;
}

h4 {
    color: #555;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.next-quote {
    color: #f84342;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

.next-quote:hover {
    color: #f84342;
}


.footer-blurb {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;  
    text-align: right;
    font-size: 10px;
    color: #FFF;
}

.logo:hover {
    text-decoration: none;
}

p {
    color: white;
}

.about {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

@media (max-width: 750px) {
    .footer-blurb {
        text-align: left;
    }
}

::selection {
    background-color: #f84342;
}